.container {
  margin: auto;
  width: 400px;
}
.design {
  display: inline-block;
  margin-left: 1rem;
  background-color: turquoise;
  padding: 5px;
}
#screen {
  border: 1px solid black;
  padding: 5px;
  width: 204px;
  border-radius: 5px;
  font-weight: bold;
}
table {
  background-color: turquoise;
}
button {
  padding: 10px;
  width: 50px;
  font-weight: bold;
  cursor: pointer;
}
